<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="dendedorConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\h\Documents\dendedor.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="progra4finalConnectionString" connectionString="Data Source=H-PC\SQLEXPRESS;Initial Catalog=progra4final;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Provider=SQLOLEDB;Data Source=H-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=progra4final"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Provider=SQLOLEDB;Data Source=H-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=banco"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString3" connectionString="Provider=SQLOLEDB;Data Source=H-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=banco"
      providerName="System.Data.OleDb" />
    <add name="bancoConnectionString" connectionString="Data Source=H-PC\SQLEXPRESS;Initial Catalog=banco;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString4" connectionString="Provider=SQLOLEDB;Data Source=H-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=banco"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString5" connectionString="Provider=SQLOLEDB;Data Source=H-PC\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=banco"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors defaultRedirect="inicio.aspx"></customErrors>

  </system.web>
</configuration>